{% extends "layouts.html" %}

{% block content %}

    <div class="row">
      <div class="col-md-12 text-center">
        <h1> Billing</h1>

  </div>
            <br>
         <form name="retrival" action="\bills" method="post" novalidate>
              <fieldset class="form-group">

                <p>
                    {{ form.patient_id.label(class="label") }}<br>
                    {{ form.patient_id(size=35) }}

                </p>
                <p>
                    {{  form.submit() }}
                </p>
                </fieldset>
            </form>

</div>

{% endblock %}
