{% extends "layouts.html" %}
{% block content %}
<div class="row">
   <div class="col-md-12 text-center">
      <h2>Patient Deleted</h2>
      <table class="table table-hover">
         <tr>
            <td>
               Patient SSN ID
            </td>
            <td>
               <input type="hidden" name="patient_ssn_id" value= {{patient_delete.patient_ssn_id}}>{{patient_delete.patient_ssn_id}}<br>
            </td>
        </tr>
         <tr>
            <td>Patient Name:</td>
            <td>
               <input type="hidden" name="patient_name" value= {{patient_delete.patient_name}}>{{patient_delete.patient_name}}<br>
            </td>
         </tr>
         <tr>
            <td>Patient Age:</td>
            <td>
               <input type="hidden" name="patient_age" value= {{patient_delete.patient_age}}>{{patient_delete.patient_age}}<br>
            </td>
         </tr>
         <tr>
            <td>Patient DOA:</td>
            <td>
               <input type="hidden" name="patient_doa" value= {{patient_delete.doa}}>{{patient_delete.doa}}<br>
            </td>
         </tr>
         <tr>
            <td>Patient bed:</td>
            <td>
               <input type="hidden" name="patient_bed" value= {{patient_delete.beds}}>{{patient_delete.beds}}<br>
            </td>
         </tr>
         <tr>
            <td>Patient status:</td>
            <td>
               <input type="hidden" name="patient_status" value= {{patient_delete.status}}>{{patient_delete.status}}<br>
            </td>
         </tr>


      </table>
   </div>
</div>
{% endblock %}
